# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.
#
# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
#
# See docs/Config_Reference.md for a description of parameters.


[include mainsail.cfg]


# ================================================================
# MCU
# ================================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_390027000C50564837383420-if00
# serial: /dev/ttyAMA0
# restart_method: command


# ================================================================
# PRINTER
# ================================================================

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 5
max_z_accel: 70


# ================================================================
# EIXO X
# ================================================================

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 200
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 0


# ================================================================
# EIXO Y
# ================================================================

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 230
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.650
hold_current: 0.400
stealthchop_threshold: 0


# ================================================================
# EIXO Z + PROBE (BLTOUCH)
# ================================================================

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: +42.5
y_offset: +0
#z_offset: 2.7
stow_on_each_sample: False
probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 86.25, 105 # Posiciona o bico para que a sonda toque no centro exato da malha
speed: 50
z_hop: 10
z_hop_speed: 10


# ================================================================
# BED MESH
# ================================================================

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 42.5, 15        # X mínimo = 40 (impede o bico de tentar ir para X negativo)
mesh_max: 210, 225      # X máximo = 170 (impede o BLTouch de sair da mesa a direita)
probe_count: 5,5
# algorithm: bicubic  # DESCOMENTE CASO A MESH SEJA >= 7X7


# ================================================================
# EXTRUSORA
# ================================================================

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.73
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_only_accel: 800
pressure_advance: 0.030
pressure_advance_smooth_time: 0.04
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 32.424
pid_Ki: 2.324
pid_Kd: 113.078
min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.850
hold_current: 0.500
stealthchop_threshold: 0


# ================================================================
# MESA AQUECIDA
# ================================================================

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 64.850
pid_Ki: 1.024
pid_Kd: 1026.245
min_temp: 0
max_temp: 130


# ================================================================
# VENTOINHAS (Pins padrao SKR Mini E3 v3)
# ================================================================

[heater_fan controller_fan]
pin: PC7
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PB15

[fan]
pin: PC6


# ================================================================
# DISPLAY / BOARD PINS / BEEPER
# ================================================================

[board_pins]
aliases:
    EXP1_1=PB5,  EXP1_3=PA9,  EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9, EXP1_8=PD6, EXP1_10=<5V>

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5


# ================================================================
# MACROS
# ================================================================

[gcode_macro PRINT_START]
description: Inicio da impressao
gcode:
    {% set BED = params.BED|float %}
    {% set EXTRUDER = params.EXTRUDER|float %}

    M140 S{BED}
    M104 S180
	M190 S{BED}

    G28
	BED_MESH_CALIBRATE; mapeia a mesa

    M104 S{EXTRUDER}
    M109 S{EXTRUDER}

	G90
    M83
    G92 E0

    G1 Z2.0 F3000
    G1 X5 Y20 Z0.3 F5000

    ; purge line
    G1 X5 Y200 Z0.3 F1500 E15
    G1 X5.4 Y200 Z0.3 F5000
    G1 X5.4 Y20 Z0.3 F1500 E15

    G92 E0

[gcode_macro PRINT_END]
description: Finaliza a impressao e estaciona o cabeçote
gcode:
    M400
    G92 E0
    G1 E-7.0 F1800

    TURN_OFF_HEATERS
    M107

    G91
    G1 Z10 F3000
    G90

    G1 X200 Y200 F6000

    M84

[gcode_macro CANCEL_PRINT]
description: Cancela a impressao com seguranca dentro dos limites
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    M107
    CLEAR_PAUSE

    {% if "xyz" in printer.toolhead.homed_axes %}
      G91
      G1 Z10 F3000
      G90
      G1 X200 Y200 F6000
    {% endif %}

    BASE_CANCEL_PRINT

[gcode_macro _CLIENT_VARIABLE]
variable_park_at_cancel   : True
variable_user_cancel_macro: "_MANTER_TEMP_CANCEL"
gcode:

[gcode_macro _MANTER_TEMP_CANCEL]
gcode:
    M104 S180
    M140 S55


# ================================================================
# SAVE_CONFIG
# ================================================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.620
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.022500, -0.062500, -0.075000, -0.072500, -0.015000
#*# 	  -0.092500, -0.127500, -0.142500, -0.165000, -0.160000
#*# 	  -0.100000, -0.140000, -0.137500, -0.112500, -0.115000
#*# 	  -0.097500, -0.120000, -0.117500, -0.082500, -0.077500
#*# 	  0.007500, -0.005000, -0.027500, -0.025000, 0.075000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 42.5
#*# max_x = 214.98
#*# min_y = 15.0
#*# max_y = 225.0
